@import url("global.css");

main {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: -1.6vw;
}
#hero {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 50%;
    background-color: #13131300;
    border-radius:5%; 
}
#hero img {
    width: 15vw;
    border-radius: 10%;
    margin: 10px;
    top:0;
    border: solid 2px #BD752B;
}
#hero p {
    font-size: 1.5rem;
    color: #BD752B;
    margin-left: 15px;
}
.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #BD752B;
}

/* ipad screen */
@media screen and (min-width: 679px)  and (max-width: 1080px) {
    #hero {
        margin: 5%;
    }
    #hero img {
        width: 25vw;
    }
}

/* phone screen.. 767px?*/
@media screen and (max-width: 680px) {
    main {
        margin-top: 20%;
        margin-left: -1vw;
    }
    #hero {
        position: relative;
        flex-direction: column;
        /* flex-wrap: wrap; */
        width: 70%;
        height: 40%;
        /* margin-top: 50%; */
        text-align: center;
        padding: 2rem;
        background-color: #13131300;
        border-radius:5%; 
    }
    #hero img {
        width: 30vw;
        border-radius: 50%;
        /* margin: 0%; */
    }
}