@import url("global.css");

/* Body */
main {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    margin-left: -1.6vw;
}
#hero {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 40%;
    background-color: #13131300;
    border-radius:5%; 
    flex-direction: column;
}
#hero img {
    width: 15vw;
    border-radius: 50%;
    margin: 10px;
    top:0;
    border: solid 2px #BD752B;
}
#hero p {
    font-size: 1.5rem;
    color: #BD752B;
    margin-left: 10px;
}

#hero img:hover {
    border-color: #bd742b95;
}

/* ipad screen */
@media screen and (min-width: 679px)  and (max-width: 1080px) {
    #hero img {
        width: 150px;
    }
    main {
        height: 48vh;
        margin-top: 80px;
    }
}

/* phone screen.. 767px?*/
@media screen and (max-width: 680px) {
    main {
        margin-top: 150px;
        /* margin-left: -1vw; */
        margin-bottom: 10vh;
    }
    #hero {
        position: relative;
        flex-direction: column;
        /* flex-wrap: wrap; */
        width: 70%;
        height: 40%;
        /* margin-top: 50%; */
        text-align: center;
        padding: 2rem;
        background-color: #13131300;
        border-radius:5%; 
    }
    #hero img {
        width: 140px;
        border-radius: 50%;
        /* margin: 0%; */
    }
}