@import url("global.css");

main {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
}
h2 {
    margin-right: 40px;
    margin-bottom: 15px;
}
.blog-list {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 35px px 0px 5px;
    color: #BD752B;
    width: 100%;
    height: auto;
}
.blog-boxes {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 270px;
    background: #13131353;
    border: solid 2px #bd742b52;
    border-radius: 5%;
    padding: 10px 0px 0px 0px;
    margin: 10px;
}
.blog-list a {
    all: unset;
    font-size: 1.3rem;
    margin: 10px;
    color: #BD752B;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.blog-list img {
    width: 80%;
    margin-top: 15px;
}

.blog-list img:hover, a:hover {
    opacity: 0.9;
}
p {
    display: flex;
    font-size: 0.8rem;
    opacity: 0.6;
}

/* medium screen */
@media screen and (min-width: 679px)  and (max-width: 1080px) {
    .blog-list {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2px;
        color: #BD752B;
    }
    .blog-boxes {
        padding: 12px;
        margin: 20px;
    }
    .blog-list img {
        margin-top: 10px;
        width: 90%;
    }
    h2 {
        margin-left: 10px;
    }
}
/* small screen */
@media screen and (max-width: 680px) {
    main {
        margin-top: 20%;
    }
    .blog-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 35px;
        color: #BD752B;
    }
    .blog-list img {
        margin-top: 10px;
        width: 90%;
    }
    .blog-list a {
        font-size: 1.5rem;
    }
    h2 {
        margin-right: 0px;
    }
}