html,body {
    width: 100vw;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #131313;
}
.background-img {
    position: fixed;
    background: url("../images/smoke-bg.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: 100vw;
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: -1;
}
main {
    display: flex;
    position: relative;
    justify-content: center;
}

/* Header */
.name {
    display: flex;
    justify-content: center;
}
.name h1 {
    font-size: 2.5rem;
    color:#BD752B;
    margin: 20px 80px;
}
nav{
    display: flex;
    justify-content: center;
    width: 100%;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    background: #28282800;
    letter-spacing: 6px;
    width: 70%;
}
.nav-links a {
    display: flex;
    justify-content: space-between;
    position: relative;
    text-decoration: none;
    color: #BD752B;
}
.burger {
    display: none;
}
.burger div {
    width: 25px;
    height: 3px;
    background: #BD752B;
    margin: 5px;
}
.logo {
    display: flex;
    background:#131313;
    opacity: 0.8;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 2px solid #BD752B;
    /* margin-top: 90px; */
}

/*UI animation */
.nav-links a:hover {
    opacity: 0.5;
    color: #b5804b;
}
nav img:hover {
    opacity: 0.5;
}
.nav-links a.active {
    text-decoration:line-through;
}
#social-links a:hover {
    opacity: 1;
}

/* Footer */
footer {
    position:relative;
    margin-top:3%;
    height:30px;
    width:100%;
    color: #bd742b82;
    text-align: center;
}
#social-links {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}
#social-links a{
    padding: 1vw;  
    opacity: 0.6; 
}
#social-links div{
    bottom: 0;
}

/* medium screen */
@media screen and (min-width: 679px)  and (max-width: 1080px) {
    .nav-links a {
        padding: 10px;
        font-size: 1.5rem;
    }
    .nav-links {
        letter-spacing: 3px;
        width: 90%;
    }
    .name h1 {
        font-size: 2.5rem;
        color:#BD752B;
        margin: 20px 43px;
    }
}

/* small screen */
@media screen and (max-width: 680px) {
    .logo {
        display: none;
    }
    .logo-mobile {
        display: flex;
        position: absolute;
        background:#131313;
        opacity: 0.8;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        border: 2px solid #BD752B;
        top: 70px;
        margin-right: 2vw;
    }
    .name h1 {
        font-size: 1.7rem;
        margin: 20px 30px;
    }
    main {
        margin-top: 30%;
        margin-left: -1vw;
    }
    .nav-links {
        font-size: 1rem;
        width: 100%;
        height: 50vh;
        position: absolute;
        right: 0%;
        top: 25vh;
        background: #131313;
        flex-direction: column;
        border-radius: 8%;
        transform: translateX(100%);
        transition: transform 0.2s ease-in;
        z-index: 1;
    }
    .nav-links a {
        font-size: 1.7rem;
        opacity: 1;
        letter-spacing: 3px;
    }
    body {
        overflow-x: hidden;
    }
    .burger {
        display: block;
        position: absolute;
        right: 18%;
        top: 100px;
        cursor: pointer;
    }
    #social-links a{
        padding: 3vw;    
    }
    footer {
        font-size: 1rem;
    }
}

/* burger navbar animation */
.nav-active {
    transform: translateX(0%);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }

/* burger icon animation*/
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}