@import url("global.css");

main {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-left: -1.4vw;
}
#hero {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 350px;
    background-color: #13131300;
    border-radius:5%; 
    flex-direction: column;
}
#hero img {
    width: 13vw;
    border-radius: 50%;
    margin: 20px 30px 20px 30px;
    border: solid 2px #BD752B;
    opacity: 0.9;
}
#hero p {
    font-size: 1.5rem;
    color: #BD752B;
}

#hero img:hover {
    border-color: #bd742b95;
    opacity: 1;
}

/* medium screen */
@media screen and (min-width: 679px)  and (max-width: 1080px) {
    #hero img {
        width: 150px;
        margin-top: 0px;
    }
    main {
        height: 48vh;
        margin-top: 60px;
    }
    #hero p {
        margin-right: 10px;
    }
}

/* small screen */
@media screen and (max-width: 680px) {
    main {
        margin-top: 150px;
        margin-bottom: 10vh;
    }
    #hero {
        position: relative;
        flex-direction: column;
        width: 70%;
        height: 40%;
        text-align: center;
        padding: 2rem;
        background-color: #13131300;
        border-radius:5%; 
    }
    #hero img {
        width: 140px;
        border-radius: 50%;
        margin-left: 40px;
    }
    #hero p {
        margin-left: 8px;
    }
}