@import url("global.css");

main {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 27vh;
}

h2 {
    margin-right: 40px;
}

.projects {
    display: flex;
    justify-content: center;
    margin: 0px 50px 0px 0px;
    color: #BD752B;
    width: 100%;
}
.project-boxes {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 250px;
    background: #13131353;
    border-radius: 5%;
    padding: 10px;
    margin: 30px;
    border: solid 2px #bd742b8a;
}
.projects a {
    all: unset;
    font-size: 1.5rem;
    margin: 10px;
    color: #BD752B;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.projects img {
    width: 90%;
    margin: 10px;
}


/* medium screen */
@media screen and (min-width: 679px)  and (max-width: 1080px) {
    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 35px;
        color: #BD752B;
    }
    .project-boxes {
        padding: 12px;
        margin: 20px;
    }
    h2 {
        margin-right: 30px;
    }
}
/* small screen */
@media screen and (max-width: 680px) {
    main {
        margin-top: 20%;
    }
    .projects {
        flex-direction: column;
        align-items: center;
        color: #BD752B;
        margin-right: 0;
    }
    h2 {
        margin-right: 0px;
    }
}